.HeadingStyle {
	color:chartreuse;
	font-size: 4vw;
	font-family:Arial, Helvetica, sans-serif;
	padding: 2em;
}
.FontStyle {
	color:chartreuse;
	font-size: 1rem;
	font-family:Arial, Helvetica, sans-serif;
	padding: 1vw;
}